.rowContainer {
  display: flex;
  flex-direction: row;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 40vw;
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

.title {
  font-size: 20px;
  padding: 10px;
}

.subTitle {
  font-weight: 900;
}

.errorMessage {
  padding: 10px;
  color: #b30000;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  /* top: 0; */
  width: 55vw;
}
