.rowContainer {
  display: flex;
  flex-direction: row;
  margin-top: calc(40px + 1em);
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 45vw;
  margin: 20px;
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

.title {
  font-size: 20px;
  padding: 10px;
}

.errorMessage {
  padding: 10px;
  color: #b30000;
  font-weight: 900;
}

.subTitle {
  font-weight: 900;
  padding: 10px;
}

.resultsDisplay {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  margin: 20px;
  width: 50vw;
}

.resultsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.result {
  display: flex;
  flex-direction: column;
  border: 1px solid #999;
  margin: 10px;
  flex: 1;
}

.fieldContainer {
  padding: 5px;
  height: 200px;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
}

.resultContainer {
  padding: 5px;
}

.header {
  text-decoration: underline;
}

.item {
  padding: 5px;
}
