.header {
  display: flex;
  position: fixed;
  width: 100vw;
  justify-content: space-between;
  background-color: #2a9d8f;
  padding: 20px;
  box-sizing: border-box;
}

.link {
  color: #fafafa;
  font-size: 18px;
  border-bottom: 1px solid RGBA(0, 0, 0, 0);
}

.link:hover {
  border-bottom: 1px solid #fafafa;
}
